/********************************************
                General
*********************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    /* background: linear-gradient(0.25turn,  #ebf8e1, #ffc9e6); */
    /* background-image: linear-gradient( rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(image/back.jpg);
    background-size: cover;
    background-position: center; */
    /* font-family: Lato;
    font-weight: 600; */
    /* position: relative;
    height: 100vh; 
    color: #555;

    background-color: #EB4D4D; 

} */
/* .grid-container {
    display: grid;
   /* grid-template-columns: 100vw;
    grid-template-rows: 100vh;
     grid-gap: 10px; */
    /* background-color: #2196F3;
    padding: 10%;
  } */ 
 .wrapper{ 
      display: grid;
  }
  .wrapper > .player_0_panel, .wrapper > .player_1_panel  {
    grid-template-columns: auto auto;
    grid-template-rows: 100vh;
  } 
  
 .wrapper{

    
    /*width: 860px; 
     width:60%;*/
    /* height: auto;
    position: absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%, -50%);*/
    /* background-color: rgb(214, 82, 82); */
    box-shadow: 0px 10px 50x rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.clearFix::after{
    content: "";
    display: table;
    clear:both;
}
.final_score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Safari 3-8 */
    top: 520px; 
    color: #555;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    width: 160px; 
    text-transform: uppercase; 
}
.final_score:focus{
    outline: none;
}
.player_1_panel {
   
    transform: translate(76%, -100%);
    -ms-transform:translate(76%, -100%);
    -webkit-transform:translate(76%, -100%);
}
.player_current_box {
    transform: translate(-30%,-55%);
    -ms-transform:translate(-30%,-55%);
    -webkit-transform:translate(-30%,-55%);
}


 .player_0_panel,
.player_1_panel {
    width: 50%;
    /* float: left; */
    
    /* height: 600px; */
    padding: 100px;
} 
.dice {
    position: absolute;
    border-radius: 10%;
    left: 50%; 
    top: 40%;
    transform: translateX(-50%);
    height: 110px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
@media screen and (max-width: 300px) {
    .dice {
        top: 70%;
    }
}

/* #dice_1{
    top: 180px;
}
#dice_2{
    top: 250px;
}  */
/*.ion-ios-help */
.material-icons{
    font-size: 2em;
    columns: rgb(240, 96, 96);
    cursor: pointer;
    position: absolute;
    right: 3%;
    top:4%;
  transform: translateX(-50%);
}
.pig{
     position: absolute;
     transform: translate(10%,30%);
}

.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    top: 20%; 
    left: 5%; 
    width: 90%; 
    height: 65%; 
    padding: 20px; 
    border: 10px solid orange; 
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
    line-height: 1.5em;
} 

/*.....................  PLAYERS ........................*/

.player_name {
    font-size: 5vmin;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}
.player_score {
    text-align: center;
    font-size: 7vmin;
    font-weight: bold;
    color: rgb(240, 96, 96);
    margin-bottom: 130px;
}
/* .active { 
     background-color: #f727272a;  
    
} */
.active .player_name { 
    font-weight: 600; 
    
}
.active .player_name::after{
    content: "\2022";
    font-size:8vmin;
    position:absolute;
    color: #EB4D4D;
    top:-7px;
    right:10px;
}
.player_current_box {
    background-color: #EB4D4D;
    color: #fff;
     /* width: 250%;  */
      font-size: 60%; 
     border-radius: 20%;
    margin: 0;
    padding: 1em 2em;
    text-align: center;
}
.player_current_label {
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    margin: 0;
    font-size: 3vmin;
    color: #222;
}

.player_current_score {
    font-size: 8vmin;
}
button {
    position: absolute;
    width: 200px; 
    left: 51%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 5vmin;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}
button:hover { 
    font-weight: 600; 
}
button:hover i { 
    margin-right: 20px; 
}
button:focus {
    outline: none;
}
.btn_new { 
    top: 6%;
}
#btn_roll { 
    top: 75%;
}
#btn_roll:hover {
    color: #05c25a;
}
#btn_hold { 
    top: 86%;
}
i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 26px;
    line-height: 1;
    vertical-align:sub;
    margin-top: -4px;
    transition: margin 0.3s;
}
/* .winner { 
    background-color: #f7f7f7;  
} */
#win {
    position: absolute;
    top: 55%;
    left: 40%;
}
#win, .winner .player_name { 
    font-weight: bold;
    color: #EB4D4D; 
    font-size: 12vmin;
    animation: winner infinite;
    animation-duration: 2s;
    -webkit-animation: winner infinite;
    -webkit-animation-duration: 2s;
}
@keyframes winner{
    from {color:  #EB4D4D; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    to {color: gold; }
}
@-webkit-keyframes winner{
    from {color:  #EB4D4D; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    to {color: gold; } 
}



.pyro > .before, .pyro > .after {
     
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; 
}
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }
  
  @-webkit-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-moz-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-o-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-ms-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  
      /*    https://code.sololearn.com/WQ7024hOCL2w/#css  */
